{
    "Databases": [{
      "Servers" : [ "localhost:27017" ],
    	"DBName"  : "test",
    	"Path"    : "test/"
    }],
    "Local": [{
      "Root" : "/home/user/go/src/kuenea/test_data",
      "Path" : "fs_test/"
    }],
    "Http": {
	    "Bind"    : "localhost",
	    "Port"    : 8080,
	    "Timeout" : 2000
	}
}
