{
    "Databases": [{
    		"ConnectURI": "mongodb://localhost/kuenea_test",
    		"Path"    : "test/"
    }],
    "Local": [{
      "Root" : "/home/user/go/src/kuenea/test_data",
      "Path" : "fs_test/"
    }],
    "Http": {
	    "Bind"    : "localhost",
	    "Port"    : 8080,
	    "Timeout" : 2000
	}
}
