{
  "GridFS": [{
    "ConnectURI": "mongodb://localhost/kuenea_test",
    "Path": "fast/",
    "ReadSeeker": false
  }, {
    "ConnectURI": "mongodb://localhost/kuenea_test",
    "Path": "seeker/",
    "ReadSeeker": true
  }],
  "Local": [{
    "Root": "/home/user/go/src/kuenea/extra/test_data",
    "Path": "fs_test/"
  }],
  "Http": {
    "Bind": "localhost",
    "Port": 8080,
    "Timeout": 2000
  }
}